<script setup>
const nonce = useNonce()
</script>

<template>
  <UDivider
    :ui="{
        border: {
          base: 'border-gray-800'
        }
      }"
  />
  <footer class="p-10 text-base-content">
    <div class="grid grid-cols-1 lg:grid-cols-6 gap-8 lg:gap-12">
      <!-- Logo and Powered by Section -->
      <aside class="lg:col-span-2 flex flex-col items-center mb-8 lg:mb-0">
        <div class="flex justify-center items-center">
          <img class="h-12" src="/logos/nexa/nexa-logo-mark-text-white.svg" alt="nexa" :nonce="nonce"/>
        </div>
        <div class="border-t border-white/20 py-4 mt-4 flex justify-center items-center">
          <h2 class="text-md font-semibold text-base-content">Powered by</h2>
          <a href="https://www.bitcoinunlimited.info/" target="_blank">
            <img src="/logos/nexa/bu-logo-light.svg" alt="Bitcoin Unlimited Logo" class="h-6 ml-2" :nonce="nonce"/>
          </a>
        </div>
      </aside>

      <!-- Navigation Links -->
      <div class="lg:col-span-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 lg:gap-12">
        <nav class="space-y-2">
          <h6 class="font-bold uppercase text-gray-400">Discover</h6>
          <a href="https://spec.nexa.org" target="_blank" class="block hover:text-yellow-500">Nexa Specifications</a>
          <a href="https://explorer.nexa.org" target="_blank" class="block hover:text-yellow-500">Nexa Explorer</a>
          <a href="https://forum.nexa.org/" target="_blank" class="block hover:text-yellow-500">Nexa Forum</a>
          <a href="https://medium.com/@nexacoin" target="_blank" class="block hover:text-yellow-500">Nexa on Medium</a>
          <a href="https://www.bitcoinunlimited.info/" target="_blank" class="block hover:text-yellow-500">Bitcoin Unlimited</a>
          <a href="https://forum.bitcoinunlimited.info/" target="_blank" class="block hover:text-yellow-500">BUIP Forum</a>
        </nav>

        <nav class="space-y-2">
          <h6 class="font-bold uppercase text-gray-400">Build</h6>
          <a href="https://nexscript.org" target="_blank" class="block hover:text-yellow-500">NexScript</a>
          <a href="https://tokenex.nexa.org/" target="_blank" class="block hover:text-yellow-500">TokenEX</a>
          <a href="https://matrix.to/#/#nexa-dev:matrix.org" target="_blank" class="block hover:text-yellow-500">Matrix</a>
          <a href="https://gitlab.com/nexa/nexa/-/tree/dev/src/libnexa?ref_type=heads" target="_blank" class="block hover:text-yellow-500">Nexa Libnexa</a>
          <a href="https://gitlab.com/nexa/libnexa-js" target="_blank" class="block hover:text-yellow-500">Nexa JS Library</a>
          <a href="https://gitlab.com/nexa/libnexakotlin" target="_blank" class="block hover:text-yellow-500">Nexa Kotlin Library</a>
          <a href="https://gitlab.com/nexa/nexaaddrjs" target="_blank" class="block hover:text-yellow-500">Nexa Address JS</a>
          <a href="https://nexajs.org" target="_blank" class="block hover:text-yellow-500">NEXAjs</a>
          <a href="https://gitlab.com/bitcoinunlimited/rostrum" target="_blank" class="block hover:text-yellow-500">Rostrum</a>
          <a href="http://testnet-faucet.nexa.org/" target="_blank" class="block hover:text-yellow-500">Testnet Faucet</a>
          <a href="https://debug.nexa.org/" target="_blank" class="block hover:text-yellow-500">Nexa Debugger</a>
          <a href="https://playground.cashscript.org/" target="_blank" class="block hover:text-yellow-500">Cashscript Playground</a>
        </nav>

        <nav class="space-y-2">
          <h6 class="font-bold uppercase text-gray-400">Ecosystem</h6>
          <a href="https://nexa.org/ecosystem" target="_blank" class="block hover:text-yellow-500">Nexa Ecosystem</a>
          <a href="https://nexa.org/node" target="_blank" class="block hover:text-yellow-500">Full Nexa node</a>
          <a href="https://awesomenexa.org/" target="_blank" class="block hover:text-yellow-500">Awesome Nexa</a>
          <a href="http://wallywallet.org/" target="_blank" class="block hover:text-yellow-500">Wally Wallet</a>
          <a href="http://otoplo.com/" target="_blank" class="block hover:text-yellow-500">Otoplo Wallet</a>
          <a href="https://spaceport.onethirtyseven.dev/" target="_blank" class="block hover:text-yellow-500">Spaceport Wallet</a>
          <a href="https://release.otoplo.com/tokenize/1.0.0/" target="_blank" class="block hover:text-yellow-500">Tokenize Wallet</a>
          <a href="https://wiserswap.com/" target="_blank" class="block hover:text-yellow-500">WiserSwap</a>
          <a href="https://nexa.exchange" target="_blank" class="block hover:text-yellow-500">Nexa Exchange</a>
          <a href="https://runes.onrender.com" target="_blank" class="block hover:text-yellow-500">Runes</a>
          <a href="https://avas.cash" target="_blank" class="block hover:text-yellow-500">Avas Cash</a>
          <a href="https://niftyart.cash/" target="_blank" class="block hover:text-yellow-500">NiftyArt NFT Marketplace</a>
        </nav>

        <nav class="space-y-2">
          <h6 class="font-bold uppercase text-gray-400">Community</h6>
          <a href="https://discord.nexa.org" target="_blank" class="block hover:text-yellow-500">Discord</a>
          <a href="https://t.me/nexacoin" target="_blank" class="block hover:text-yellow-500">Telegram</a>
          <a href="https://x.com/NexaMoney" target="_blank" class="block hover:text-yellow-500">Twitter</a>
          <a href="https://www.reddit.com/r/Nexa/" target="_blank" class="block hover:text-yellow-500">Reddit</a>
          <a href="https://www.linkedin.com/company/104771698/" target="_blank" class="block hover:text-yellow-500">LinkedIn</a>
          <a href="https://www.facebook.com/@nexachain" target="_blank" class="block hover:text-yellow-500">Facebook</a>
          <a href="https://www.instagram.com/nexa_coin/" target="_blank" class="block hover:text-yellow-500">Instagram</a>
          <a href="https://www.tiktok.com/@nexa_coin" target="_blank" class="block hover:text-yellow-500">TikTok</a>
          <a href="https://mastodon.social/@nexamoney" target="_blank" class="block hover:text-yellow-500">Mastodon</a>
        </nav>

        <nav class="space-y-2">
          <h6 class="font-bold uppercase text-gray-400">Mining</h6>
          <a href="https://nexa.org/mining" target="_blank" class="block hover:text-yellow-500">Nexa Mining</a>
          <a href="https://youtu.be/3Z0-GTmDmI0?si=yNy8m8N46xUItFG5" target="_blank" class="block hover:text-yellow-500">How to Mine Nexa</a>
          <a href="https://t.me/nexamining" target="_blank" class="block hover:text-yellow-500">Nexa Mining Telegram</a>
          <a href="https://github.com/bzminer/bzminer" target="_blank" class="block hover:text-yellow-500">BZMiner</a>
          <a href="https://github.com/andru-kun/wildrig-multi" target="_blank" class="block hover:text-yellow-500">WildRig Multi</a>
          <a href="https://github.com/rigelminer/rigel/releases" target="_blank" class="block hover:text-yellow-500">Rigel Miner</a>
          <a href="https://miningpoolstats.stream/nexa" target="_blank" class="block hover:text-yellow-500">Mining Pool Stats</a>
          <a href="https://f2pool.zendesk.com/hc/en-us/articles/31821667302169-Nexa-NEXA-mining-pool-launched-at-f2pool" target="_blank" class="block hover:text-yellow-500">F2Pool Nexa</a>
          <a href="https://nexa.pool137.io/" target="_blank" class="block hover:text-yellow-500">Pool137</a>
          <a href="https://zergpool.com/" target="_blank" class="block hover:text-yellow-500">Zerg Pool</a>
        </nav>
      </div>
    </div>
  </footer>

</template>
