<script setup>
import { onMounted, ref, watch, nextTick } from 'vue'
import { animate, stagger } from 'motion'

const props = defineProps({
  text: { type: String, required: true },
  headerTag: { type: String, default: 'div' },
  gradientText: { type: String, default: '' },
  gradientClasses: { type: String, default: '' },
  suffixText: { type: String, default: '' },
  stagger: { type: Number, default: 0.03 }
})

const splitText = text => text.split('').map(char => ({ char, class: '' }))

const headerCharacters = ref(splitText(props.text))
const gradientCharacters = ref(splitText(props.gradientText))
const suffixCharacters = ref(splitText(props.suffixText))
const headerRef = ref(null)

const triggerAnimation = async () => {
  await nextTick()
  const headerElements = headerRef.value.querySelectorAll("span")
  animate(headerElements, { opacity: [0, 1] }, { delay: stagger(props.stagger), duration: 0.5 })
}

const updateCharacters = () => {
  headerCharacters.value = splitText(props.text)
  gradientCharacters.value = splitText(props.gradientText)
  suffixCharacters.value = splitText(props.suffixText)
}

onMounted(() => {
  updateCharacters()
  triggerAnimation()
})

watch(
    () => [props.text, props.gradientText, props.suffixText],
    () => {
      updateCharacters()
      triggerAnimation()
    }
)
</script>

<template>
  <component :is="headerTag" ref="headerRef" class="main-header">
    <template v-for="(charObj, index) in headerCharacters" :key="`header-${index}`">
      <span>{{ charObj.char }}</span>
    </template>
    <span :class="props.gradientClasses" v-if="props.gradientText">
      <template v-for="(charObj, index) in gradientCharacters" :key="`gradient-${index}`">
        <span>{{ charObj.char }}</span>
      </template>
    </span>
    <template v-for="(charObj, index) in suffixCharacters" :key="`suffix-${index}`">
      <span>{{ charObj.char }}</span>
    </template>
  </component>
</template>
