<script>
import { computed } from 'vue'

export default {
  name: "GradientCircle",
  props: {
    position: {
      type: String,
      default: 'center',
      validator: (value) => ['left', 'center', 'right'].includes(value),
    },
    size: {
      type: String,
      default: '3xl',
      validator: (value) => ['xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl', '4xl'].includes(value),
    },
    colorStops: {
      type: Array,
      default: () => ['from-purple-600/10', 'to-blue-600/10'],
      validator: (value) => value.every((stop) => /^(from|via|to)-[\w/-]+$/.test(stop)),
    },
    roundedness: {
      type: String,
      default: 'full',
    },
    blur: {
      type: [String, Number],
      default: '3xl',
    },
  },
  setup(props) {
    const sizeMap = {
      xs: '12',
      sm: '24',
      md: '36',
      lg: '48',
      xl: '60',
      '2xl': '72',
      '3xl': '96',
      '4xl': '120',
    }

    const outerClasses = computed(() => [
      'relative overflow-visible flex items-center justify-center',
    ])

    const innerClasses = computed(() => [
      'absolute',
      `w-${sizeMap[props.size]} h-${sizeMap[props.size]}`,
      `bg-gradient-to-b ${props.colorStops.join(' ')}`,
      `rounded-${props.roundedness}`,
      `z-[-1]`, // Ensure the gradient is behind everything
      `blur-${props.blur}`,
      getAlignmentClass(props.position),
    ])

    function getAlignmentClass(position) {
      switch (position) {
        case 'left':
          return 'left-0 top-1/2 transform -translate-y-1/2 -translate-x-1/2'
        case 'center':
          return 'left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2'
        case 'right':
          return 'right-0 top-1/2 transform -translate-y-1/2 translate-x-1/2'
        default:
          return ''
      }
    }

    return {
      outerClasses,
      innerClasses,
    }
  },
}
</script>

<template>
  <div :class="outerClasses">
    <div :class="innerClasses" aria-hidden="true"></div>
  </div>
</template>

<style scoped>
/* Make sure other elements like buttons have a higher z-index */
</style>
