<script>
import { useScreenSize } from '@/composables/global/useScreenSize'
export default {
  name: 'ArticleSummary',
  props: {
    article: {
      type: Object,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  setup() {
    const { isSmallScreen } = useScreenSize();

    return {
      isSmallScreen,
    };
  },
};
</script>

<template>
  <div class="relative rounded-2xl glassmorphism-background text-base-content flex flex-col justify-center">
    <div v-if="loading" class="absolute inset-0 flex justify-center items-center">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
    <div v-else-if="article" class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-5">
      <div class="flex justify-center items-center md:p-4 lg:p-4">
        <img
            v-if="isSmallScreen"
            :src="article.mobileCover"
            class="h-96 w-full object-cover rounded-lg"
            alt="Article Mobile Cover"
        />
        <img
            v-else
            :src="article.cover"
            class="h-96 w-full object-cover rounded-lg"
            alt="Article Cover"
        />
      </div>
      <div class="flex flex-col justify-center items-start p-8">
        <div class="flex flex-wrap space-x-2 mb-6">
          <UBadge
            v-for="tag in article.metadata.tags"
            :key="tag"
            size="lg"
            color="purple"
            variant="solid"
            class="cursor-pointer"
            :ui="{
                color: {
                  purple: {
                    solid: 'text-white bg-purple-600'
                  }
                }
              }"
          >
            {{ tag }}
          </UBadge>
        </div>
        <p>{{ new Date(article.metadata.date).toLocaleDateString() }}</p>
        <h1 class="text-4xl font-semibold">
          {{ article.metadata.title }}
        </h1>
        <div class="mt-16 inline-flex gap-3">
          <slot name="action-buttons"/>
        </div>
      </div>
    </div>
    <div v-else class="h-full"></div>
  </div>
</template>

<style scoped>

</style>
