<script setup>
import {useArticles} from '@/composables/global/useArticles.js'
import {onMounted, ref, watch} from "vue"

// Props for customization
const props = defineProps({
  showTagButtons: {
    type: Boolean,
    default: true
  },
  customHeader: {
    type: String,
    default: "More News"
  },
  tag: {
    type: String,
    default: ""
  },
  showLatestArticle: {
    type: Boolean,
    default: true
  },
  latestArticleTitle: {
    type: String,
    default: "Latest News"
  }
})

const {
  latestArticle,
  otherArticles,
  uniqueTags,
  selectedTags,
  loading,
  fetchArticles,
  loadRemainingArticles,
  toggleTagSelection,
  filterArticlesByTags
} = useArticles(props.tag)

const articlesToDisplay = ref([])
const articlesPerLoad = 9
const allArticlesLoaded = ref(false)
const articleRows = ref([])
const selectedTag = ref("")

const getRowClass = (rowIndex) => {
  if ((rowIndex + 1) % 3 === 1) {
    return 'md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1'
  } else if ((rowIndex + 1) % 3 === 2) {
    return 'md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2'
  } else {
    return 'md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3'
  }
}

const getResponsiveRowClass = (rowIndex) => {
  return `sm:grid-cols-1 ${getRowClass(rowIndex)}`
}

const getContainerType = (rowIndex) => {
  const isMobile = window.innerWidth <= 768
  if (isMobile) {
    return 'sm'
  } else if ((rowIndex + 1) % 3 === 1) {
    return 'lg'
  } else {
    return 'sm'
  }
}

const clearSelection = () => {
  selectedTags.value = []
  filterArticlesByTags()
  selectedTag.value = "" // Reset the select box to "Choose a tag"
}

const organizeArticles = (articles) => {
  const rows = []
  let i = 0
  while (i < articles.length) {
    if (rows.length % 3 === 0) {
      rows.push(articles.slice(i, i + 1))
      i += 1
    } else if (rows.length % 3 === 1) {
      rows.push(articles.slice(i, i + 2))
      i += 2
    } else {
      rows.push(articles.slice(i, i + 3))
      i += 3
    }
  }
  return rows
}

const loadMore = () => {
  const nextIndex = articlesToDisplay.value.length
  const moreArticles = otherArticles.value.slice(nextIndex, nextIndex + articlesPerLoad)
  articlesToDisplay.value.push(...moreArticles)

  if (articlesToDisplay.value.length >= otherArticles.value.length) {
    allArticlesLoaded.value = true
  }
  articleRows.value = organizeArticles(articlesToDisplay.value)
}

onMounted(async () => {
  await fetchArticles(true) // Initial load with the first 9 articles
  loadMore() // Load the initial batch to display

  // Fetch the remaining articles in the background
  loadRemainingArticles()
})

watch(otherArticles, () => {
  articlesToDisplay.value = []
  allArticlesLoaded.value = false
  loadMore()
})

watch(selectedTags, () => {
  filterArticlesByTags()
  articlesToDisplay.value = []
  allArticlesLoaded.value = false
  loadMore()
})

// Watch for changes in the selectedTag to handle clear selection
watch(selectedTag, (newValue) => {
  if (newValue === "clear") {
    clearSelection()
  } else if (newValue !== "") {
    selectedTags.value = [newValue]
    filterArticlesByTags()
  }
})

const tagOptions = computed(() => {
  // Convert the Set to an array
  const tagsArray = Array.from(uniqueTags.value);

  return [
    {label: "Choose a tag", value: "", disabled: true},
    ...tagsArray.map(tag => ({label: tag, value: tag})),
    {label: "Clear selection", value: "clear"}
  ];
});
</script>

<template>
  <ContentSection
    :sections="[
        { name: 'center', columns: 8 },
      ]"
    alignment="text-center"
    layout="custom"
    section-id="news-article-grid"
  >
    <template #above>
      <div v-if="showLatestArticle" class="flex flex-col w-full">
        <AnimatedText
          :text="latestArticleTitle"
          class="text-left"
        />
        <div v-if="latestArticle" class="mt-6">
          <ArticleSummary :article="latestArticle" :loading="loading" class="text-left">
            <template #action-buttons>
              <NuxtLink
                :to="`/${latestArticle.path}`"
                class="text-current cursor-pointer"
              >
                <UButton
                  :ui="{
                    color: {
                      purple: {
                        solid: 'bg-gradient-to-r from-blue-500 to-purple-500 ring-0 text-white hover:bg-gray-800/75'
                      }
                    },
                  }"
                  class="z-[99]"
                  color="purple"
                  label="Read Article"
                  size="lg"
                />
              </NuxtLink>
            </template>
          </ArticleSummary>
        </div>
      </div>
    </template>
    <template #center>
      <div>
        <h2 class="sub-header text-left">
          {{ customHeader }}
        </h2>
        <div v-if="showTagButtons" class="hidden flex-wrap gap-2 mb-6 mt-6 md:flex">
          <UBadge
            v-for="tag in uniqueTags"
            :key="tag"
            :ui="{
                color: {
                  purple: {
                    solid: 'text-white bg-purple-600',
                    outline: 'text-white ring-1 ring-inset ring-white'
                  }
                }
              }"
            :variant="selectedTags.includes(tag) ? 'solid' : 'outline'"
            class="cursor-pointer"
            color="purple"
            size="lg"
            @click="toggleTagSelection(tag)"
          >
            {{ tag }}
          </UBadge>
          <UButton
            :ui="{
              color: {
                white: {
                  ghost: 'ring-0 text-white hover:bg-gray-800/75'
                }
              }
            }"
            color="white"
            variant="ghost"
            @click="clearSelection"
          >
            <UIcon class="h-6 w-6" name="i-heroicons-x-mark"/>
          </UButton>
        </div>
        <div v-if="showTagButtons" class="flex flex-wrap gap-2 mb-6 mt-6 md:hidden lg:hidden">
            <span class="label">
              <span class="label-text text-lg">Filter articles by tag</span>
            </span>
          <USelect
            v-model="selectedTag"
            :options="tagOptions"
            class="w-full"
            size="xl"
          />
        </div>
        <div v-if="loading" class="flex justify-center items-center h-full">
          <span class="loading loading-spinner loading-lg"></span>
        </div>
        <div>
          <div v-for="(row, rowIndex) in articleRows" :key="rowIndex"
               :class="['grid gap-6 mt-6', getResponsiveRowClass(rowIndex)]">
            <div
              v-for="(article) in row"
              :key="article.path"
              class="col-span-1 flex flex-col"
            >
              <NuxtLink
                :to="`/${article.path}`"
                class="cursor-pointer flex-grow"
              >
                <ArticleGridItem :article="article" :containerType="getContainerType(rowIndex)"/>
              </NuxtLink>
            </div>
          </div>
        </div>
        <div v-if="!allArticlesLoaded && !loading" class="flex justify-center mt-6">
          <UButton
            :ui="{
              color: {
                white: {
                  solid: 'bg-gradient-to-r from-blue-600 to-purple-600 ring-0 text-white hover:bg-gray-800/75'
                }
              }
            }"
            class="z-[99]"
            color="white"
            size="lg"
            @click="loadMore"
          >
            Load More
          </UButton>
        </div>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>

</style>
