<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 277.39 98.8" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path class="cls-1" d="M62.64,36.51c-7.52-7.49-19.48-7.49-26.93,0-7.44,7.58-7.37,19.91.08,27.48,7.44,7.58,19.56,7.66,27.01.08.13-.13.65-.71,1.57-1.76l-8.98-9.15c-.92,1.09-1.41,1.66-1.46,1.71-2.53,2.58-6.65,2.58-9.19,0-2.53-2.58-2.53-6.77-.08-9.27,2.46-2.5,6.57-2.5,9.11.08,0,0,8,8.14,24.01,24.41-6.57,9.67-17.59,15.8-29.47,15.8-19.64,0-35.64-16.36-35.64-36.51S28.67,12.89,48.31,12.89c11.48,0,22.02,5.64,28.59,14.75-1.06,1.25-3.76,4.39-8.12,9.42l8.86,8.99,14.7-16.87C84.74,11.6,67.55,0,48.31,0,21.62,0,0,22.16,0,49.4s21.62,49.4,48.31,49.4c12.12,0,22.17-3.87,32-12.41,8.95-7.74,13.16-18.46,13.16-18.46l-30.82-31.42Z"/>
        <g>
          <path class="cls-3" d="M213.22,54.1v16.64h-6.79v-17.01c-.69-3.91-4.13-6.88-8.28-6.88s-7.69,3.06-8.31,7.06v16.83h-6.79v-30.2l5.21,3.31c2.65-2.27,6.11-3.65,9.89-3.65,7.99,0,14.53,6.13,15.09,13.9h-.02ZM141.92,36.7c-2.26,1.18-4.27,2.75-5.95,4.63-2.51-3.47-6.6-5.73-11.21-5.73-7.63,0-13.82,6.18-13.82,13.81s6.19,13.81,13.82,13.81c2.48,0,4.8-.65,6.81-1.79.76,2.45,1.95,4.71,3.49,6.68-3.05,1.68-6.57,2.64-10.3,2.64-11.8,0-21.36-9.55-21.36-21.34s9.56-21.34,21.36-21.34c7.03,0,13.27,3.4,17.17,8.64ZM152.03,70.74c-8.34,0-15.09-6.74-15.09-15.06s6.76-15.06,15.09-15.06,15.09,6.74,15.09,15.06-6.76,15.06-15.09,15.06ZM152.03,64.04c4.63,0,8.39-3.75,8.39-8.37s-3.75-8.37-8.39-8.37-8.38,3.75-8.38,8.37,3.75,8.37,8.38,8.37ZM171.31,40.61h6.71v30.13h-6.71v-30.13ZM244.27,35.28h-19.19v10.95h18.63v6.8h-18.63v10.91h19.19v6.8h-26.41V28.48h26.41v6.8ZM258.37,55.61l-10.33-15h8.54c.25.42.62,1,1.1,1.73.57.86,1.15,1.75,1.76,2.68s1.19,1.82,1.76,2.68c.56.85.96,1.49,1.2,1.9l.34.59,6.14-9.58h8.13l-10.15,14.75,10.51,15.38h-8.44l-6.48-9.85-.35.52c-.29.42-.71,1.08-1.28,1.96-.57.88-1.17,1.81-1.82,2.8-.65.99-1.26,1.92-1.83,2.81-.48.75-.85,1.34-1.1,1.76h-8.06l10.33-15.13Z"/>
          <path class="cls-2" d="M169.93,32.97c0-1.33.48-2.47,1.45-3.44.97-.97,2.12-1.45,3.47-1.45s2.54.48,3.51,1.45c.97.94,1.45,2.1,1.45,3.47s-.48,2.54-1.45,3.51c-.94.97-2.1,1.45-3.47,1.45s-2.54-.48-3.51-1.45c-.97-.97-1.45-2.15-1.45-3.54Z"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>