<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 439.12 83.5" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <g>
          <path class="cls-1" d="M59.35,49.74c.06-13.84.12-27.57.19-41.4.46.25.88.46,1.29.7,9.06,5.41,15.06,13.16,17.78,23.37.48,1.81.68,3.7,1.03,5.55.06.31-.04.46-.31.62-3.72,2.07-7.42,4.15-11.13,6.23-2.74,1.53-5.48,3.07-8.22,4.6-.17.1-.35.18-.61.33Z"/>
          <path class="cls-11" d="M24.25,33.74c-.09,13.85-.18,27.6-.27,41.44-.21-.1-.34-.15-.47-.22-8.26-4.71-14.05-11.52-17.31-20.46-1.02-2.8-1.65-5.7-1.97-8.66-.09-.85-.1-.85.62-1.26,5.79-3.24,11.58-6.48,17.37-9.72.64-.36,1.28-.72,2.02-1.13Z"/>
          <path class="cls-1" d="M79.76,40.93c0,1.22.07,2.36-.01,3.5-.36,5.3-1.77,10.31-4.25,15.01-2.79,5.29-6.63,9.67-11.47,13.19-.27.2-.47.19-.74.02-3.63-2.21-7.27-4.41-10.91-6.62-2.63-1.6-5.26-3.19-7.9-4.78-.13-.08-.25-.16-.46-.3,11.94-6.69,23.81-13.34,35.73-20.02Z"/>
          <path class="cls-11" d="M26.41,52.95c11.75,7.12,23.4,14.18,35.12,21.29-.19.13-.31.22-.44.3-4.81,2.81-9.99,4.5-15.54,5.03-6.55.62-12.83-.39-18.86-3.01-.34-.15-.45-.33-.44-.69.02-2.52,0-5.04.02-7.56.03-4.96.07-9.93.11-14.89,0-.12.02-.24.03-.46Z"/>
          <path class="cls-9" d="M39.65,22.51c-11.89,6.66-23.69,13.27-35.55,19.91-.03-.18-.05-.28-.05-.38-.08-5.32,1.01-10.4,3.12-15.27,1.43-3.3,3.31-6.32,5.61-9.09,2.13-2.56,4.55-4.8,7.27-6.73.22-.15.39-.17.63-.02,4.95,3.03,9.9,6.04,14.85,9.06,1.1.67,2.2,1.33,3.29,2,.25.15.49.31.83.52Z"/>
          <path class="cls-9" d="M22.55,9.27c1.24-.63,2.46-1.3,3.72-1.88,2.96-1.38,6.06-2.32,9.28-2.86,2.92-.5,5.86-.62,8.83-.44,2.68.16,5.32.59,7.88,1.35,1.58.47,3.12,1.1,4.68,1.65.27.1.37.26.36.56-.04,7.52-.07,15.03-.1,22.55,0,.07-.01.15-.03.32-11.57-7.04-23.08-14.06-34.6-21.07l-.02-.17Z"/>
          <path class="cls-12" d="M26.37,32.89c.37-.24.72-.5,1.1-.72,4.68-2.71,9.37-5.41,14.05-8.12.22-.13.36-.12.57,0,4.49,2.6,8.99,5.2,13.49,7.8.43.25.86.48,1.28.75.12.08.19.24.28.37-.14.06-.29.1-.42.17-1.22.69-2.44,1.39-3.66,2.08-3.65-2.12-7.3-4.24-10.96-6.34-.16-.09-.46-.12-.61-.03-2.87,1.65-5.72,3.32-8.59,4.98-.79.45-1.59.88-2.39,1.32-.75-.41-1.5-.82-2.25-1.23-.63-.34-1.26-.68-1.89-1.01Z"/>
          <path class="cls-3" d="M.09,44.58c-.03-1.21-.11-2.38-.08-3.55.02-1.12.14-2.25.23-3.37.25-3.02.9-5.95,1.84-8.83,1.87-5.72,4.82-10.82,8.9-15.27,1.64-1.78,3.4-3.42,5.32-4.89.12-.09.34-.18.44-.13.92.53,1.82,1.09,2.78,1.68-.6.46-1.16.87-1.69,1.31-6.07,4.88-10.36,11-12.78,18.41-1.31,4.02-1.95,8.14-1.85,12.36.01.44-.1.7-.51.91-.82.41-1.6.88-2.4,1.32-.03.01-.06.01-.2.04Z"/>
          <path class="cls-7" d="M26.37,32.89c.63.34,1.26.67,1.89,1.01.75.41,1.5.82,2.25,1.23-.01.12-.04.24-.04.37,0,4.14,0,8.29,0,12.43,0,.31.12.47.38.62,2.13,1.23,4.26,2.47,6.38,3.7,1.52.88,3.04,1.76,4.56,2.64,0,1.53,0,3.05,0,4.58-.15-.06-.32-.11-.46-.19-4.87-2.81-9.73-5.61-14.6-8.42-.22-.13-.39-.25-.39-.56.01-5.77,0-11.54.01-17.31,0-.03,0-.06.01-.09Z"/>
          <path class="cls-1" d="M41.79,59.47c0-1.53,0-3.05,0-4.58,3.61-2.1,7.22-4.21,10.84-6.29.32-.19.44-.39.44-.76-.01-4.21,0-8.42,0-12.62,1.22-.69,2.44-1.39,3.66-2.08.13-.07.28-.12.42-.17,0,3.54,0,7.08.01,10.62,0,2.2,0,4.39,0,6.59,0,.37-.11.57-.44.76-4.8,2.76-9.59,5.53-14.39,8.3-.17.1-.36.16-.54.23Z"/>
          <path class="cls-10" d="M23.93,79.51c-1.06-.56-2.04-1.05-2.99-1.59-3.33-1.91-6.35-4.24-9.03-6.99-4.08-4.19-7.15-9.02-9.22-14.49-1.1-2.9-1.85-5.89-2.26-8.96-.02-.15.04-.4.15-.46.87-.52,1.77-1.01,2.72-1.54.13.89.24,1.72.37,2.55.79,5.06,2.54,9.77,5.23,14.12,3.67,5.93,8.59,10.55,14.72,13.89.14.08.32.25.32.38.03.85.02,1.7.01,2.55,0,.14-.01.28-.03.55Z"/>
          <path class="cls-3" d="M57.28,6.24c-1.22-.44-2.34-.87-3.49-1.24-2.25-.74-4.55-1.31-6.91-1.52-2-.18-4.01-.35-6.02-.31-6.02.13-11.71,1.63-17.03,4.44-.64.34-1.27.72-1.91,1.06-.13.07-.35.15-.46.09-.93-.54-1.85-1.12-2.84-1.73.32-.21.56-.39.82-.55,3.83-2.44,7.94-4.21,12.35-5.28,1.45-.35,2.93-.64,4.42-.8C38.27.19,40.34,0,42.4,0c3.61,0,7.17.55,10.65,1.56,1.3.38,2.58.84,3.87,1.28.14.05.35.22.35.34.03,1,.02,2,.02,3.05Z"/>
          <path class="cls-6" d="M59.67,3.97c1.03.55,2.08,1.08,3.09,1.66,3.27,1.87,6.23,4.15,8.86,6.85,5.45,5.61,9.11,12.21,10.88,19.83.27,1.16.45,2.33.68,3.5.08.38.02.64-.4.84-.76.36-1.48.81-2.27,1.26-.12-.81-.22-1.57-.35-2.33-1.16-7.08-4.09-13.36-8.73-18.83-3.22-3.8-7.05-6.85-11.46-9.16-.35-.18-.48-.4-.46-.79.03-.91.01-1.82.01-2.73.05-.03.1-.06.16-.1Z"/>
          <path class="cls-6" d="M64.53,73.4c1.08-.89,2.13-1.71,3.12-2.59,5.44-4.83,9.23-10.73,11.36-17.69,1.23-3.99,1.77-8.08,1.64-12.26,0-.32.06-.5.36-.66.81-.42,1.59-.88,2.46-1.37.04.68.1,1.27.11,1.86.1,5.53-.81,10.89-2.81,16.05-1.93,4.99-4.7,9.45-8.35,13.37-1.54,1.66-3.2,3.18-4.98,4.58-.24.19-.41.24-.68.06-.72-.47-1.47-.9-2.24-1.36Z"/>
          <path class="cls-14" d="M65.05,76.46c-.93.57-1.85,1.18-2.8,1.71-3.31,1.84-6.81,3.24-10.49,4.14-4.07,1-8.19,1.35-12.37,1.12-4.42-.25-8.68-1.22-12.81-2.8-.27-.1-.38-.24-.37-.54.03-.83.02-1.67.03-2.5,0-.07.04-.14.05-.2,1.3.47,2.56.96,3.85,1.38,2.64.86,5.35,1.39,8.12,1.66,2.24.22,4.48.25,6.72.07,5.97-.5,11.55-2.23,16.7-5.31.56-.34.95-.36,1.47.03.57.42,1.21.75,1.81,1.12.02.01.03.05.08.13Z"/>
          <path class="cls-2" d="M38.09,39.12c-.45-1.55-.11-2.92,1.04-4.03,1.15-1.1,2.55-1.39,4.06-.86,1.47.51,2.32,1.61,2.57,3.11.11.65.12,1.35-.25,1.97-.11,0-.23-.03-.32.01-1.08.57-2.15,1.16-3.22,1.74-.61-.28-1.22-.55-1.82-.85-.67-.33-1.34-.67-2.01-1,0,0,.01,0,.01,0-.02-.04-.05-.07-.07-.11Z"/>
          <path class="cls-5" d="M38.14,39.22c.67.33,1.34.68,2.01,1,.6.29,1.21.56,1.82.85,0,2.78,0,5.56,0,8.34h-3.33c.51-2.4,1-4.79,1.52-7.17.1-.45.12-.72-.37-.98-.82-.43-1.36-1.14-1.65-2.03Z"/>
          <path class="cls-13" d="M41.97,49.4c0-2.78,0-5.56,0-8.34,1.07-.58,2.14-1.17,3.22-1.74.08-.04.21-.01.32-.01-.36.88-.9,1.62-1.75,2.06-.33.17-.33.36-.27.65.52,2.45,1.03,4.9,1.55,7.38h-3.08Z"/>
          <path class="cls-5" d="M38.09,39.12s.05.07.07.11c-.02-.04-.05-.07-.07-.11Z"/>
        </g>
        <g>
          <path class="cls-15" d="M362.57,30.11v-11.32h9.78c-.05.93-.08,1.87-.15,2.8-.06.77-.19,1.53-.24,2.3-.07,1.03-.08,2.07-.14,3.1-.12,2.31-.25,4.62-.38,6.93-.08,1.53-.18,3.07-.25,4.6-.1,2.19-.17,4.39-.26,6.58-.08,2.13-.18,4.26-.25,6.39-.05,1.5-.1,3-.13,4.5-.05,2.75-.09,5.51-.13,8.27,0,.08-.01.16-.02.27h-8.96c.08-1.9.17-3.77.26-5.73-.6.69-1.18,1.32-1.71,1.98-1.12,1.39-2.54,2.36-4.12,3.15-1.45.72-2.97,1.19-4.55,1.34-1.3.12-2.63.07-3.93-.07-1.14-.13-2.27-.44-3.37-.78-1.6-.49-3.01-1.34-4.3-2.41-1.47-1.21-2.7-2.62-3.46-4.37-.8-1.85-1.36-3.77-1.46-5.8-.03-.65-.09-1.3-.12-1.95-.13-2.73.42-5.34,1.33-7.9,1.04-2.9,2.58-5.5,4.9-7.57,2.18-1.95,4.76-3.19,7.58-3.93,3.26-.86,6.58-.83,9.9-.75,1.21.03,2.41.24,3.62.36.14.01.29,0,.57,0ZM362.06,36.52c-1.11-.18-2.23-.46-3.36-.52-1.95-.11-3.9-.01-5.82.48-1.98.5-3.74,1.37-5.15,2.85-1.05,1.11-1.94,2.33-2.45,3.79-.41,1.16-.92,2.32-1.12,3.52-.31,1.86-.28,3.75.2,5.62.48,1.84,1.26,3.45,2.84,4.61,2.18,1.62,4.62,1.96,7.18,1.33,3.19-.79,4.93-3.13,6.09-6,1.09-2.71,1.22-5.59,1.39-8.46.11-1.94.1-3.89.14-5.84.01-.44.04-.87.06-1.37Z"/>
          <path class="cls-15" d="M92.46,63.68c-.23-2.85-.46-5.62-.69-8.45,1.28.49,2.49,1.01,3.75,1.41,1.95.62,3.93,1.12,5.99,1.31,2.11.2,4.21.23,6.22-.44,1.43-.48,2.78-1.24,3.37-2.77.58-1.49.65-3.05-.49-4.29-1.43-1.57-3.01-3-4.56-4.46-1.02-.96-2.13-1.84-3.16-2.79-1.94-1.79-3.92-3.54-5.78-5.41-1.77-1.78-3.09-3.91-3.4-6.43-.34-2.85.25-5.54,1.98-7.94,1.6-2.23,3.79-3.59,6.33-4.38,1.45-.45,2.98-.75,4.49-.89,1.87-.18,3.78-.25,5.65-.13,2.26.15,4.51.55,6.76.85.45.06.91.11,1.43.17.22,2.69.45,5.39.67,8.09-1.51-.43-2.95-.89-4.41-1.23-2.93-.7-5.89-1.06-8.84-.12-1.26.4-2.34,1.13-3.16,2.16-1.07,1.36-1.08,3.2.02,4.71.89,1.23,2.04,2.28,3.17,3.31,1.41,1.28,2.93,2.42,4.37,3.66,1.61,1.39,3.24,2.75,4.74,4.25,2.01,2,3.99,4.11,4.55,7.01.54,2.82.11,5.53-1.39,8.07-1.47,2.48-3.67,4-6.24,5.02-1.47.58-3.03,1.02-4.63,1.1-2.15.11-4.3.25-6.45.23-1.24,0-2.49-.24-3.72-.44-2.19-.36-4.37-.78-6.57-1.18Z"/>
          <path class="cls-15" d="M131.09,37.93c.34-2.19.66-4.26.98-6.39,1.95-.38,3.95-.82,5.97-1.16,1.23-.21,2.49-.32,3.74-.39,2.19-.12,4.39-.31,6.58-.23,2.78.09,5.54.5,8.05,1.89,2.02,1.11,3.44,2.74,3.65,5.08.17,1.86.05,3.74.03,5.62,0,.76-.09,1.51-.12,2.27-.05,1.05-.08,2.11-.13,3.16-.08,1.73-.17,3.45-.26,5.18-.08,1.58-.21,3.15-.24,4.73-.04,2.27-.01,4.53-.01,6.85h-9.72c.05-.76.08-1.55.15-2.33.06-.68.19-1.36.24-2.05.07-1.03.08-2.07.14-3.1.12-2.46.25-4.92.38-7.38.05-.89.13-1.79.19-2.65-.94.46-1.85,1.01-2.83,1.36-1.86.66-3.77,1.19-5.66,1.78-1.9.59-3.8,1.22-5.31,2.58-1.13,1.02-1.61,2.36-1.29,3.86.35,1.68,1.46,2.74,3.11,3.11,2.59.59,5.15.35,7.65-.52.1-.03.19-.07.29-.09.03,0,.07.03.09.03-.47,1.73-.97,3.45-1.39,5.18-.19.78-.82.53-1.25.62-2.43.52-4.91.48-7.38.38-2.15-.08-4.24-.55-6.13-1.64-1.98-1.15-3.08-2.98-3.71-5.11-.74-2.5-.61-4.95.76-7.23.98-1.63,2.37-2.88,4-3.81,3.1-1.77,6.54-2.57,9.98-3.39,2.14-.51,4.28-1.09,6.36-1.8,1.14-.39,2.13-1.19,2.5-2.44.53-1.83-.33-3.53-2.32-4.28-1.9-.71-3.87-.63-5.84-.39-1.28.15-2.58.26-3.83.53-1.69.37-3.35.87-5.01,1.35-.79.23-1.55.54-2.41.84Z"/>
          <path class="cls-15" d="M318.78,46.95c-.77.42-1.47.92-2.25,1.2-2.06.72-4.16,1.34-6.24,2-1.9.6-3.8,1.22-5.31,2.58-1.13,1.02-1.6,2.36-1.3,3.86.34,1.68,1.46,2.74,3.1,3.12,2.59.59,5.15.35,7.65-.52.1-.03.19-.07.29-.09.03,0,.07.03.09.03-.47,1.73-.97,3.44-1.38,5.18-.19.78-.82.54-1.25.63-2.43.52-4.91.48-7.38.38-2.15-.08-4.24-.54-6.13-1.64-1.98-1.15-3.08-2.98-3.71-5.11-.74-2.5-.61-4.95.76-7.23.98-1.63,2.37-2.88,4-3.81,3.1-1.77,6.54-2.57,9.98-3.39,2.14-.51,4.28-1.09,6.36-1.8,1.14-.39,2.13-1.19,2.5-2.44.54-1.83-.32-3.53-2.32-4.28-1.9-.71-3.87-.63-5.84-.4-1.28.15-2.58.26-3.83.53-1.69.37-3.35.87-5.02,1.35-.79.23-1.55.54-2.41.84.33-2.16.65-4.24.99-6.46,2.41-.4,4.9-.81,7.39-1.24,3.03-.53,6.09-.64,9.14-.48,2.69.14,5.37.54,7.79,1.89,2.02,1.12,3.44,2.74,3.65,5.08.17,1.86.05,3.74.03,5.62,0,.76-.09,1.51-.12,2.27-.05,1.05-.08,2.11-.13,3.16-.08,1.73-.18,3.45-.25,5.18-.09,2.04-.2,4.09-.25,6.13-.04,1.81,0,3.63,0,5.47h-9.72c.05-.78.08-1.57.15-2.35.06-.66.19-1.32.24-1.99.07-.99.09-1.98.14-2.97.12-2.52.25-5.05.39-7.57.05-.9.13-1.79.19-2.71Z"/>
          <path class="cls-15" d="M224.56,47.34h-24.8c.06,1,.19,1.96.15,2.91-.04,1.12.29,2.15.69,3.14.33.81.82,1.59,1.37,2.27,1.65,2.04,3.93,2.96,6.47,3.29,2.08.27,4.16.23,6.21-.21,2.36-.51,4.71-1.06,7.12-1.6-.09.54-.19,1.16-.3,1.78-.28,1.59-.55,3.18-.86,4.77-.04.18-.24.44-.4.47-1.84.33-3.68.73-5.53.88-2.38.2-4.77.34-7.15.25-3.28-.12-6.56-.5-9.51-2.14-2.19-1.21-3.98-2.86-5.25-5.04-1.3-2.24-2-4.65-2.28-7.21-.45-4.14.19-8.1,1.93-11.88.85-1.85,1.99-3.53,3.49-4.9,2.1-1.91,4.53-3.19,7.36-3.79,2.33-.49,4.66-.71,7-.58,2.81.15,5.57.62,8.08,2.02,1.26.7,2.28,1.65,3.22,2.75,1.24,1.45,2.11,3.07,2.67,4.86.69,2.19.77,4.44.49,6.71-.05.41-.1.81-.15,1.25ZM216.01,43.62c-.13-1.2-.12-2.36-.39-3.46-.74-3.04-2.98-4.64-5.99-4.82-1.55-.09-3.04.11-4.45.78-1.37.66-2.52,1.59-3.37,2.88-.93,1.41-1.34,3-1.7,4.63h15.89Z"/>
          <path class="cls-15" d="M412.04,47.34h-24.8c.05.98.17,1.94.14,2.89-.03,1.09.25,2.12.69,3.07.4.87.9,1.73,1.5,2.47,1.62,1.99,3.86,2.84,6.32,3.16,2.1.28,4.19.24,6.27-.22,2.34-.52,4.67-1.04,7.07-1.57-.08.53-.17,1.14-.28,1.76-.28,1.61-.56,3.23-.87,4.83-.03.17-.23.4-.38.43-1.84.32-3.68.72-5.53.88-2.35.2-4.73.34-7.09.25-3.31-.12-6.6-.49-9.58-2.14-2.19-1.21-3.98-2.85-5.26-5.03-1.31-2.23-2.08-4.64-2.27-7.21-.11-1.45-.23-2.93-.11-4.37.21-2.54.86-5,1.92-7.34.81-1.78,1.86-3.4,3.25-4.75,2.15-2.09,4.69-3.47,7.67-4.11,2.32-.49,4.65-.72,7-.59,2.81.16,5.57.61,8.08,2.02,1.26.7,2.29,1.65,3.23,2.74,1.22,1.41,2.08,2.99,2.65,4.74.73,2.25.82,4.56.52,6.89-.05.39-.1.78-.15,1.21ZM387.61,43.6h15.77c0-.75.03-1.47-.01-2.19-.02-.43-.13-.86-.25-1.27-.83-3.01-2.88-4.52-5.77-4.78-1.57-.14-3.11.05-4.58.73-1.4.65-2.55,1.57-3.42,2.82-.98,1.41-1.41,3.04-1.73,4.69Z"/>
          <path class="cls-15" d="M228.32,18.77h38.69c-.11,2.37-.22,4.72-.33,7.15-4.71-.09-9.43-.18-14.19-.27-.02.1-.05.2-.06.29-.09,1.87-.17,3.75-.26,5.62-.05,1.07-.09,2.15-.13,3.23-.09,2.19-.17,4.39-.26,6.58-.09,2.19-.17,4.39-.26,6.58-.08,2.15-.2,4.3-.25,6.45-.07,3.29-.09,6.57-.14,9.86,0,.08-.01.16-.02.28h-10.75c.09-1.08.17-2.14.26-3.19.05-.63.13-1.25.17-1.88.09-1.43.18-2.85.26-4.28.09-1.62.17-3.24.26-4.86.08-1.58.17-3.15.25-4.73.09-1.66.17-3.32.26-4.98.05-.93.1-1.85.13-2.78.05-1.52.08-3.04.13-4.56.04-1.25.08-2.49.13-3.74.05-1.27.12-2.53.19-3.88-4.81.09-9.55.18-14.4.27.11-2.41.21-4.76.31-7.16Z"/>
          <path class="cls-15" d="M190.01,24.48c-1.2-.29-2.27-.61-3.36-.81-1.68-.3-3.36-.39-5,.25-1.14.45-1.77,1.34-1.99,2.45-.26,1.32-.34,2.68-.5,4.09h8.68c-.09,1.38-.18,2.69-.25,4.01-.03.63-.06,1.27-.04,1.9.02.56-.18.76-.76.75-2.4-.03-4.8-.01-7.27-.01-.05.62-.12,1.22-.14,1.82-.09,2.11-.17,4.22-.26,6.32-.07,1.66-.18,3.32-.25,4.98-.1,2.45-.17,4.9-.26,7.34-.04,1.14-.08,2.28-.13,3.42-.05,1.16-.12,2.31-.19,3.51h-9.53c.05-1.1.09-2.21.17-3.32.05-.71.19-1.41.22-2.12.07-1.31.09-2.62.14-3.93.08-2.09.16-4.17.26-6.26.08-1.75.17-3.49.25-5.24.09-1.87.17-3.75.26-5.62.01-.28.1-.56.16-.91h-4.27c.11-2.24.22-4.41.33-6.63h4.49c.02-.17.05-.31.05-.45.05-1.44.03-2.88.15-4.31.12-1.52.29-3.05,1-4.45.62-1.21,1.58-2.08,2.73-2.75,1.36-.8,2.85-1.27,4.42-1.31,2-.05,4.01-.11,6,.02,1.44.09,2.86.47,4.28.75.13.03.29.29.3.44.07,1.31.09,2.62.15,3.93.03.69.1,1.38.16,2.11Z"/>
          <path class="cls-15" d="M279.25,64.54h-9.61c.04-.73.07-1.45.11-2.18,0-.1.04-.21.04-.31.04-1.27.07-2.53.13-3.8.12-2.35.26-4.71.38-7.06.09-1.81.19-3.62.25-5.43.07-2.2.09-4.4.13-6.6.05-2.65.09-5.3.12-7.94,0-.22-.06-.45-.1-.7h9.11v4.46c.66-.75,1.34-1.55,2.05-2.32,1.51-1.61,3.43-2.42,5.56-2.8,1.55-.27,3.1-.21,4.63.13.13.03.23.23.33.36.02.03,0,.08,0,.13.04,2.37.09,4.74.13,7.12,0,.13-.01.25-.02.4-.8-.18-1.57-.41-2.36-.52-2.45-.34-4.71.06-6.71,1.63-2.14,1.68-3.17,3.96-3.53,6.56-.26,1.88-.4,3.79-.51,5.68-.1,1.75-.1,3.51-.14,5.26-.05,2.22-.09,4.45-.12,6.67,0,.41.08.81.12,1.24Z"/>
          <path class="cls-4" d="M428.83,24.09c-.18,2.76-.35,5.52-.53,8.29h-2.04c.3-3.69.61-7.35.91-11.05h3.19c.77,2.64,1.55,5.3,2.37,8.07.29-.78.55-1.5.82-2.22.71-1.85,1.42-3.7,2.16-5.55.06-.15.29-.31.44-.32.97-.03,1.95-.01,2.96-.01-.08,3.71-.15,7.37-.23,11.07h-2.14c.08-2.81.16-5.62.24-8.43-.05-.01-.1-.02-.14-.04-.13.32-.27.63-.39.95-.88,2.35-1.77,4.71-2.63,7.07-.13.34-.26.52-.66.5-.57-.04-1.15-.01-1.74-.01-.8-2.79-1.6-5.56-2.39-8.33-.06,0-.13,0-.19.01Z"/>
          <path class="cls-8" d="M416.25,21.33h9.35v1.83h-3.49c-.13,3.06-.26,6.13-.39,9.22h-2.46c.15-3.09.3-6.15.45-9.22h-3.46v-1.83Z"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>