<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496.93 72.33" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path id="TRADE_copy" data-name="TRADE copy" class="cls-2" d="M15.7,0v8.04H0v9.52h15.7v44.43h10.59V17.57h36.04v-9.52H26.29V0h-10.59ZM146.63,3.22l-32.78,58.77h12.03l4.46-8.27h33.19l10.67,18.6h12.04L146.63,3.22ZM181.43,8.04v53.95h21.99c9.75,0,17.15-2.29,22.11-6.97,4.97-4.69,7.4-11.54,7.4-20.48,0-8.85-2.42-15.52-7.37-19.94-4.93-4.4-12.4-6.55-22.3-6.55h-21.83ZM237.72,8.04v53.95h37.45v-9.53h-26.86v-17.71h22.48v-9.52h-22.48v-7.67h22.48v-9.53h-33.07ZM65.79,8.05v53.95h10.59v-16.53h11.53l17.03,26.87h11.84l-17.54-27.09c11.63-1.25,17.64-7.47,17.64-18.6,0-12.39-7.53-18.6-22.16-18.6h-28.93ZM191.94,17.57h13.88c5.67,0,9.78,1.41,12.42,4.12,2.65,2.71,4.03,6.93,4.03,12.78,0,6-1.41,10.44-4.12,13.43-2.7,2.97-6.78,4.51-12.32,4.51h-13.88V17.57ZM76.38,17.57h19.5c7.29,0,10.74,3.02,10.74,9.15s-3.44,9.21-10.71,9.22h-19.54v-18.37ZM146.96,22.6l11.46,21.54h-22.99l11.53-21.54Z"/>
        <path id="OGRE_copy" data-name="OGRE copy" class="cls-1" d="M307.97,7.14c-7.82,0-15.65,2.74-21.93,8.23-2.8,2.49-5.09,5.51-6.73,8.88-3.34,6.82-3.34,14.8,0,21.62,1.64,3.37,3.93,6.39,6.73,8.88,2.92,2.58,6.28,4.6,9.91,5.99,3.83,1.49,7.91,2.24,12.02,2.22,8.06.02,15.85-2.92,21.89-8.25,2.81-2.49,5.11-5.5,6.77-8.88,3.34-6.82,3.34-14.8,0-21.62-1.65-3.35-3.93-6.35-6.73-8.84-6.28-5.49-14.1-8.23-21.93-8.23h0ZM373.03,7.16c-8.07,0-15.88,2.91-21.97,8.21-2.82,2.48-5.12,5.5-6.77,8.88-3.34,6.82-3.34,14.8,0,21.62,1.65,3.38,3.95,6.4,6.77,8.88,2.93,2.56,6.28,4.59,9.91,5.99,6.71,2.58,14.08,2.92,21,.98,2.46-.71,4.82-1.72,7.08-2.92v13.54h10.67v-36.39c-7.76-.09-15.77,0-23.57,0v9.52h12.89v.97c-1.9,2.15-4.22,3.89-6.83,5.06-5.49,2.41-11.7,2.58-17.31.47-2.41-.92-4.64-2.27-6.57-3.98-1.85-1.64-3.35-3.62-4.43-5.85-1.08-2.2-1.64-4.63-1.63-7.09,0-2.43.54-4.83,1.59-7.02,1.07-2.23,2.57-4.23,4.43-5.87,1.96-1.73,4.21-3.09,6.65-4.01,2.66-1,5.48-1.5,8.32-1.47,1.34.01,2.68.14,4,.39,0,0,0,0,0,0,1.8.37,3.55.94,5.23,1.69l.49.22,5.72-7.83-.65-.37c-2.28-1.29-4.74-2.22-7.29-2.76-2.54-.57-5.14-.86-7.74-.87ZM459.48,8.04v53.95h37.45v-9.53h-26.86v-17.71h22.48v-9.52h-22.48v-7.67h22.48v-9.53h-33.07ZM403.36,8.05v53.95h10.59v-16.53h11.53l17.03,26.87h11.84l-17.54-27.09c11.63-1.25,17.64-7.47,17.64-18.6,0-12.39-7.53-18.6-22.16-18.6h-28.93ZM307.89,16.68c5.38-.02,10.59,1.92,14.64,5.45,1.86,1.63,3.38,3.62,4.47,5.84,2.17,4.48,2.17,9.7,0,14.18-1.09,2.23-2.61,4.21-4.47,5.84-1.95,1.71-4.19,3.05-6.62,3.98-5.14,1.96-10.83,1.96-15.98,0-2.41-.92-4.64-2.26-6.57-3.97-1.84-1.63-3.35-3.61-4.43-5.81-1.08-2.19-1.64-4.6-1.63-7.05-.01-2.45.55-4.88,1.63-7.08,1.09-2.23,2.59-4.23,4.43-5.88,1.92-1.72,4.13-3.08,6.53-4.01,2.54-.99,5.25-1.49,7.98-1.47h0ZM413.94,17.57h19.5c7.29,0,10.74,3.03,10.74,9.15s-3.44,9.21-10.71,9.22h-19.54v-18.37Z"/>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>